.pageHeader{
  background-size: cover;
  background-position: center;

  &.productsHeader{
    background-image: url(../../images/header-banner.jpg);
    min-height: 50vh;
  }

  &.basicHeader{
    padding-bottom: 100px;
  }
}