.checkoutPageContentForm{
  padding: 20px 30px;
  border: 2px solid #f1f2f4;
  display: flex;
  flex-direction: column;
  gap: 40px;

  p{
    font-size: 18px;
  }

  &>div{
    display: flex;
    flex-direction: column;

    &:first-of-type{
      display: flex;
      flex-direction: column;
      gap: 40px;

      div{
        display: flex;
        flex-direction: column;
      }
    }

    label{
      margin-bottom: 10px;
    }

    input{
      border: none;
      border-bottom: 2px solid #cacad0;
      color: #23232c;
      font-size: 14px;
      padding-bottom: 5px;
      transition: 0.3s ease-in-out;

      &:focus{
        outline: none;
      }

      &:hover{
        border-bottom: 2px solid #23232c;
      }
    }
  }
}

@media(min-width: 770px){
  .checkoutPageContentForm{
    &>div{
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 40px;

      label{
        margin: 0;
        min-width: 110px;
      }

      input{
        width: 100%;
      }

      &:first-of-type{
        flex-direction: row;

        div{
          flex-direction: row;
          gap: 40px;
          width: 100%;

          input{
            width: 100%;
          }
        }
      }
    }
  }
}