.loginPage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  padding: 25px;
  font-family: 'Rubik', sans-serif;

  .loginPageHeader{
    margin-bottom: 50px;
  }

  .loginPageMainContent{
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 400px;
    width: 100%;

    input[type=email],input[type=password]{
      width: 100%;
      border: none;
      border-bottom: 2px solid #e4e6eb;
      color: #7c7c80;
      font-size: 16px;
      transition: 0.3s;

      &:focus{
        outline: none;
        border-bottom: 2px solid #121212;
        padding-bottom: 3px;
      }
    }

    button{
      background-color: #23232c;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
      padding: 25px;
      border: none;
      transition: .3s ease-in-out;
      cursor: pointer;

      &:disabled{
        opacity: 0.3;
        cursor: default;
      }

      &:hover{
        background-color: black;
      }
    }

    a{
      text-decoration: none;
      color: #121212;
      border-bottom: 2px solid #121212;
      padding-bottom: 5px;
    }
  }
}